body {
    text-align: center;
    
    font-size:25px;
}

#inputText {
    
    width: 600px;
    padding: 20px;
    height: 30px;
    border-radius: 10px;
    border-color: black;
   
    
}












.Aufgabe {

    padding: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 630px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    



}



.fa-trash-alt{
    position: absolute;
    opacity: 60%;
    font-size: 30px;
    color:gray;
    cursor: pointer;
    left: 950px;
    margin-top: 5px;
}

 .fa-trash-alt:hover {
    cursor: pointer;
    opacity: 100%;
    color: black;

 }
